.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.form
{
  width:100%;
}

.detail-container
{
  width:100%;
  padding:10%;
}

.dialog
{
  width:500px;
}

.anchor
{
  color:inherit;
  text-decoration: none;
  
}
.login-but
{
  width:100%;
}
.input-container
{
  width:50%;
  margin: 0 auto;
  margin-top:16px;
}
#login-container
{
  width:100%;
  padding:10%;
}
.search-button
{
  margin: 0 auto !important;
  margin-top: 10px !important;
  margin-bottom: 50px !important;
  display: block !important;
  width: 30% !important;
  min-width: 240px !important;
}
.dropzone
{
  position: relative; 
  display:flex;
  min-height: 200px;
  border-width: 2px; 
  border-color:
  rgb(102, 102, 102);
  border-style: dashed;
  border-radius: 1px;
  margin:16px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
